/* Portfolio */
body {
  font-family: "Roboto", sans-serif;

  font-family: "Raleway", sans-serif;
}
/*   Header */

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 2;
  color: #2e2f42;
}

.header-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* /Header */

/* Button sections */
